.mainContainer {
  display: grid;
  grid-column-start: 2;
  grid-column-gap: 15px;
}
.newLinkContainer {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 1rem;
}

.links {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.linkCard {
  margin: 15px 0;
  background: #e7eef6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.urlAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

. @media only screen and (min-width: 576px) {
  .mainContainer {
    grid-template-columns: 30px auto 30px;
  }
  .newLinkContainer {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .myLinksContainer {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
