@import '../../variables.scss';

.mainContainer {
  display: grid;
  grid-column-start: 2;
  grid-column-gap: 15px;
}
.newLinkContainer {
  width: 300px;
  margin: 0 auto;
  padding: $padding;
  border: $default-border;
  border-radius: 1rem;
}

.links {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: $inner-padding;
}

@media only screen and (min-width: 576px) {
  .mainContainer {
    grid-template-columns: 30px auto 30px;
  }
  .newLinkContainer {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .myLinksContainer {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
