$margin: 15px;
$pading: 15px;
$secondary-color: #f0f0f0;
$links-color: #007bff;

.loginContainer {
  grid-column-start: 2;
  width: 300px;
  margin: 0 auto;
  padding: $pading;
  border: 1px solid $secondary-color;
  border-radius: 1rem;
}
