@import '../../variables.scss';

.loginContainer {
  grid-column-start: 2;
  width: 300px;
  margin: 0 auto;
  padding: $padding;
  border: 1px solid $secondary-color;
  border-radius: 1rem;
}

.sing-up-text {
  margin-top: $margin;
  font-size: 14px;
  color: #6c757d;
}
