$margin: 15px;
$padding: 15px;
$inner-padding: 1.5rem;
$secondary-color: #f0f0f0;
$links-color: #007bff;
$default-border: 1px solid #f0f0f0;
$title-font: bold 14pt sans-serif;
$primary-font: 'Work Sans', sans-serif;
